<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.witfore.xxapp.ahsp</key>
	<dict>
		<key>myOrderUnit</key>
		<string>元</string>
		<key>selfStudyTitle</key>
		<string>自学课堂</string>
		<key>wxPayAppKey</key>
		<string>wxa1b685fe8ad0ef99</string>
		<key>appScheme</key>
		<string>ahsp</string>
		<key>weiboAppKey</key>
		<string>3510059573</string>
		<key>weiboAppSecret</key>
		<string>db5d04c7ad941aeae5d337da7a9e2926</string>
		<key>weChatAppId</key>
		<string>wx51dcf130294eea98</string>
		<key>weChatAppSecret</key>
		<string>c30848d57374d4a4f320e5999f316ef2</string>
		<key>JPushAppKey</key>
		<string>5d1db4af58c7c8e9aedb73ff</string>
		<key>QQAppKey</key>
		<string>eVuPEMz3hlNIvZ09</string>
		<key>QQAppId</key>
		<string>1105886155</string>
		<key>loginButtonColorValue</key>
		<string>3e971e</string>
		<key>IMapnsCertName</key>
		<string>ahsp</string>
		<key>IMAPPKey</key>
		<string>1199160928115567#ahsp
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
	&lt;key&gt;selfStudyTitle&lt;/key&gt;
	&lt;string&gt;自学课堂&lt;/string&gt;
	&lt;key&gt;wxPayAppKey&lt;/key&gt;
	&lt;string&gt;wxa1b685fe8ad0ef99&lt;/string&gt;
	&lt;key&gt;appScheme&lt;/key&gt;
	&lt;string&gt;ahzj&lt;/string&gt;
	&lt;key&gt;weiboAppKey&lt;/key&gt;
	&lt;string&gt;3428665023&lt;/string&gt;
	&lt;key&gt;weiboAppSecret&lt;/key&gt;
	&lt;string&gt;ac87c8fa69f7a5ab6f84eaa258705c57&lt;/string&gt;
	&lt;key&gt;weChatAppId&lt;/key&gt;
	&lt;string&gt;wx1d9b8a037b41e07f&lt;/string&gt;
	&lt;key&gt;weChatAppSecret&lt;/key&gt;
	&lt;string&gt;3996309e162e051625a3437a222eefc5&lt;/string&gt;
	&lt;key&gt;JPushAppKey&lt;/key&gt;
	&lt;string&gt;63b74b42b260eb14eb6bf1bd&lt;/string&gt;
	&lt;key&gt;QQAppKey&lt;/key&gt;
	&lt;string&gt;64qgHJDP3P9YjEK3&lt;/string&gt;
	&lt;key&gt;QQAppId&lt;/key&gt;
	&lt;string&gt;1105872375&lt;/string&gt;
	&lt;key&gt;loginButtonColorValue&lt;/key&gt;
	&lt;string&gt;0c71ba&lt;/string&gt;
	&lt;key&gt;IMapnsCertName&lt;/key&gt;
	&lt;string&gt;ahzj&lt;/string&gt;
	&lt;key&gt;IMAPPKey&lt;/key&gt;
	&lt;string&gt;1199160928115567#ahzj&lt;/string&gt;
	&lt;key&gt;skinPath&lt;/key&gt;
	&lt;string&gt;ahzj&lt;/string&gt;
	&lt;key&gt;sysConfigUrl&lt;/key&gt;
	&lt;string&gt;http://www.zjzx.ah.cn:81/api-webapp/app/api/ahzj/&lt;/string&gt;
	&lt;key&gt;HighMoralMap&lt;/key&gt;
	&lt;string&gt;d87befaa3f4d48009b817917900b0d0c&lt;/string&gt;
	&lt;key&gt;ColorValue&lt;/key&gt;
	&lt;string&gt;1b91ff&lt;/string&gt;
	&lt;key&gt;isSearchAll&lt;/key&gt;
	&lt;false/&gt;
	&lt;key&gt;MenuName&lt;/key&gt;
	&lt;string&gt;首页,个人,提醒&lt;/string&gt;
	&lt;key&gt;HomeOrder&lt;/key&gt;
	&lt;array&gt;
		&lt;string&gt;自学课堂&lt;/string&gt;
		&lt;string&gt;学习动态&lt;/string&gt;
		&lt;string&gt;培训教室&lt;/string&gt;
		&lt;string&gt;学习圈&lt;/string&gt;
		&lt;string&gt;证书&lt;/string&gt;
	&lt;/array&gt;
&lt;/dict&gt;
&lt;/plist&gt;
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
	&lt;key&gt;selfStudyTitle&lt;/key&gt;
	&lt;string&gt;自学课堂&lt;/string&gt;
	&lt;key&gt;wxPayAppKey&lt;/key&gt;
	&lt;string&gt;wxa1b685fe8ad0ef99&lt;/string&gt;
	&lt;key&gt;appScheme&lt;/key&gt;
	&lt;string&gt;ahzj&lt;/string&gt;
	&lt;key&gt;weiboAppKey&lt;/key&gt;
	&lt;string&gt;3428665023&lt;/string&gt;
	&lt;key&gt;weiboAppSecret&lt;/key&gt;
	&lt;string&gt;ac87c8fa69f7a5ab6f84eaa258705c57&lt;/string&gt;
	&lt;key&gt;weChatAppId&lt;/key&gt;
	&lt;string&gt;wx1d9b8a037b41e07f&lt;/string&gt;
	&lt;key&gt;weChatAppSecret&lt;/key&gt;
	&lt;string&gt;3996309e162e051625a3437a222eefc5&lt;/string&gt;
	&lt;key&gt;JPushAppKey&lt;/key&gt;
	&lt;string&gt;63b74b42b260eb14eb6bf1bd&lt;/string&gt;
	&lt;key&gt;QQAppKey&lt;/key&gt;
	&lt;string&gt;64qgHJDP3P9YjEK3&lt;/string&gt;
	&lt;key&gt;QQAppId&lt;/key&gt;
	&lt;string&gt;1105872375&lt;/string&gt;
	&lt;key&gt;loginButtonColorValue&lt;/key&gt;
	&lt;string&gt;0c71ba&lt;/string&gt;
	&lt;key&gt;IMapnsCertName&lt;/key&gt;
	&lt;string&gt;ahzj&lt;/string&gt;
	&lt;key&gt;IMAPPKey&lt;/key&gt;
	&lt;string&gt;1199160928115567#ahzj&lt;/string&gt;
	&lt;key&gt;skinPath&lt;/key&gt;
	&lt;string&gt;ahzj&lt;/string&gt;
	&lt;key&gt;sysConfigUrl&lt;/key&gt;
	&lt;string&gt;http://www.zjzx.ah.cn:81/api-webapp/app/api/ahzj/&lt;/string&gt;
	&lt;key&gt;HighMoralMap&lt;/key&gt;
	&lt;string&gt;d87befaa3f4d48009b817917900b0d0c&lt;/string&gt;
	&lt;key&gt;ColorValue&lt;/key&gt;
	&lt;string&gt;1b91ff&lt;/string&gt;
	&lt;key&gt;isSearchAll&lt;/key&gt;
	&lt;false/&gt;
	&lt;key&gt;MenuName&lt;/key&gt;
	&lt;string&gt;首页,个人,提醒&lt;/string&gt;
	&lt;key&gt;HomeOrder&lt;/key&gt;
	&lt;array&gt;
		&lt;string&gt;自学课堂&lt;/string&gt;
		&lt;string&gt;学习动态&lt;/string&gt;
		&lt;string&gt;培训教室&lt;/string&gt;
		&lt;string&gt;学习圈&lt;/string&gt;
		&lt;string&gt;证书&lt;/string&gt;
	&lt;/array&gt;
&lt;/dict&gt;
&lt;/plist&gt;
</string>
		<key>skinPath</key>
		<string>ahsp</string>
		<key>sysConfigUrl</key>
		<string>http://sp.ahtvu.ah.cn:58280/app/</string>
		<key>HighMoralMap</key>
		<string>b9f6b6fe09e40ec2a2d532a30556eeb3</string>
		<key>ColorValue</key>
		<string>86c232</string>
		<key>isSearchAll</key>
		<false/>
		<key>MenuName</key>
		<string>首页,个人,提醒</string>
		<key>HomeOrder</key>
		<array>
			<string>自学课堂</string>
			<string>学习动态</string>
			<string>培训教室</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
		<key>SearchHint</key>
		<array>
			<string>课程</string>
			<string>动态</string>
			<string>培训</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
	</dict>
	<key>com.witfore.xxapp.ahzj</key>
	<dict>
		<key>myOrderUnit</key>
		<string>元</string>
		<key>selfStudyTitle</key>
		<string>自学课堂</string>
		<key>wxPayAppKey</key>
		<string>wx1d9b8a037b41e07f</string>
		<key>appScheme</key>
		<string>ahzj</string>
		<key>weiboAppKey</key>
		<string>3428665023</string>
		<key>weiboAppSecret</key>
		<string>ac87c8fa69f7a5ab6f84eaa258705c57</string>
		<key>weChatAppId</key>
		<string>wx1d9b8a037b41e07f</string>
		<key>weChatAppSecret</key>
		<string>3996309e162e051625a3437a222eefc5</string>
		<key>JPushAppKey</key>
		<string>63b74b42b260eb14eb6bf1bd</string>
		<key>QQAppKey</key>
		<string>64qgHJDP3P9YjEK3</string>
		<key>QQAppId</key>
		<string>1105872375</string>
		<key>loginButtonColorValue</key>
		<string>0c71ba</string>
		<key>IMapnsCertName</key>
		<string>ahzj</string>
		<key>IMAPPKey</key>
		<string>1199160928115567#ahzj</string>
		<key>skinPath</key>
		<string>ahzj</string>
		<key>sysConfigUrl</key>
		<string>http://www.zjzx.ah.cn:81/api-webapp/app/api/ahzj/</string>
		<key>HighMoralMap</key>
		<string>47ab6e2ac570b89039d45330612c22ae</string>
		<key>ColorValue</key>
		<string>1b91ff</string>
		<key>isSearchAll</key>
		<false/>
		<key>MenuName</key>
		<string>首页,个人,提醒</string>
		<key>HomeOrder</key>
		<array>
			<string>自学课堂</string>
			<string>新闻动态</string>
			<string>培训教室</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
		<key>SearchHint</key>
		<array>
			<string>课程</string>
			<string>动态</string>
			<string>培训</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
	</dict>
	<key>com.witfore.xxapp.hbzj</key>
	<dict>
		<key>myOrderUnit</key>
		<string>元</string>
		<key>selfStudyTitle</key>
		<string>自学课堂</string>
		<key>wxPayAppKey</key>
		<string>wxa1b685fe8ad0ef99</string>
		<key>appScheme</key>
		<string>hbzj</string>
		<key>weiboAppKey</key>
		<string>829896027</string>
		<key>weiboAppSecret</key>
		<string>2ad015de31aca6675bd1dd71ddf8879c</string>
		<key>weChatAppId</key>
		<string>wxe6a71589d0059b4a</string>
		<key>weChatAppSecret</key>
		<string>6aea11b786efee1a81d4c078d72cbbca</string>
		<key>JPushAppKey</key>
		<string>872deae6d1b1551313bfb623</string>
		<key>QQAppKey</key>
		<string>PftI0CxKLyuXW11R</string>
		<key>QQAppId</key>
		<string>1105947504</string>
		<key>loginButtonColorValue</key>
		<string>0c71ba</string>
		<key>IMapnsCertName</key>
		<string>hbzj</string>
		<key>IMAPPKey</key>
		<string>1199160928115567#hbzj</string>
		<key>skinPath</key>
		<string>hbzj</string>
		<key>sysConfigUrl</key>
		<string>http://202.206.236.142/api-webapp/app/api/hbzj/</string>
		<key>HighMoralMap</key>
		<string>a2e4e162144abfa2222f673a90e33b71</string>
		<key>ColorValue</key>
		<string>1b91ff</string>
		<key>isSearchAll</key>
		<false/>
		<key>MenuName</key>
		<string>首页,个人,提醒</string>
		<key>HomeOrder</key>
		<array>
			<string>自学课堂</string>
			<string>新闻动态</string>
			<string>培训教室</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
		<key>SearchHint</key>
		<array>
			<string>课程</string>
			<string>动态</string>
			<string>培训</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
	</dict>
	<key>com.witfore.xxapp</key>
	<dict>
		<key>wxPayAppKey</key>
		<string>wx5ed36735645398e9</string>
		<key>appScheme</key>
		<string>xxapp</string>
		<key>weiboAppSecret</key>
		<string>cc11b6ce63b046983880d1d1f1c39543</string>
		<key>weiboAppKey</key>
		<string>2955307860</string>
		<key>weChatAppSecret</key>
		<string>72cf74560dfd5917d2e72d3d0e884de2</string>
		<key>weChatAppId</key>
		<string>wx5ed36735645398e9</string>
		<key>JPushAppKey</key>
		<string>fb566d608392088d9d5b1cc2</string>
		<key>QQAppKey</key>
		<string>1p80LGdy57KAr2tI</string>
		<key>QQAppId</key>
		<string>1105804656</string>
		<key>loginButtonColorValue</key>
		<string>0c71ba</string>
		<key>IMAPPKey</key>
		<string>1199160928115567#jsstudy</string>
		<key>IMapnsCertName</key>
		<string>zhihuixuexi</string>
		<key>skinPath</key>
		<string>jsxx</string>
		<key>sysConfigUrl</key>
		<string>http://www.witfore.com:8067/api-webapp/app/api/jsstudy/</string>
		<key>HighMoralMap</key>
		<string>93cbe37b8b3e8b58c7d0a33be4c5ccea</string>
		<key>ColorValue</key>
		<string>1b91ff</string>
		<key>isSearchAll</key>
		<string>YES</string>
		<key>MenuName</key>
		<string>首页,个人,提醒</string>
		<key>HomeOrder</key>
		<array>
			<string>自学课堂</string>
			<string>学习动态</string>
			<string>培训教室</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
		<key>SearchHint</key>
		<array>
			<string>课程</string>
			<string>动态</string>
			<string>培训</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
	</dict>
	<key>com.witfore.xxapp.wxjy</key>
	<dict>
		<key>myOrderUnit</key>
		<string>学币</string>
		<key>selfStudyTitle</key>
		<string>自学课堂</string>
		<key>wxPayAppKey</key>
		<string>wxa1b685fe8ad0ef99</string>
		<key>appScheme</key>
		<string>wxjy</string>
		<key>weiboAppSecret</key>
		<string>2ad015de31aca6675bd1dd71ddf8879c</string>
		<key>weiboAppKey</key>
		<string>2995655601</string>
		<key>weChatAppSecret</key>
		<string>1fa61f59f7afac2072c0db738e6482a3</string>
		<key>weChatAppId</key>
		<string>wxa1b685fe8ad0ef99</string>
		<key>JPushAppKey</key>
		<string>f5b14b5d748da72dc5fb4e09</string>
		<key>QQAppKey</key>
		<string>mjQKFeFuvYw4ZYcK</string>
		<key>QQAppId</key>
		<string>1105787423</string>
		<key>loginButtonColorValue</key>
		<string>3e971e</string>
		<key>IMapnsCertName</key>
		<string>wxjy</string>
		<key>IMAPPKey</key>
		<string>1199160928115567#wxjy</string>
		<key>skinPath</key>
		<string>wxjy</string>
		<key>sysConfigUrl</key>
		<string>http://learn.wxjy.com.cn/api-webapp/app/api/wxjy/</string>
		<key>HighMoralMap</key>
		<string>501e2bca5f9d65cf36562a0bfc42dbd3</string>
		<key>ColorValue</key>
		<string>86c232</string>
		<key>isSearchAll</key>
		<false/>
		<key>MenuName</key>
		<string>首页,个人,提醒</string>
		<key>HomeOrder</key>
		<array>
			<string>自学课堂</string>
			<string>学习动态</string>
			<string>培训教室</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
		<key>SearchHint</key>
		<array>
			<string>课程</string>
			<string>动态</string>
			<string>培训</string>
			<string>学习圈</string>
			<string>证书</string>
		</array>
	</dict>
</dict>
</plist>
